<?xml version="1.0"?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="thomas@magixilluminate.com">
        <network host="smtp.gmail.com" port="587" userName="thomas@magixilluminate.com" password="xyz" defaultCredentials="false"/>
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="magix.core.dashboard-viewport" value="Magix.viewports.Gutenberg"/>
    <add key="magix.core.portal-name" value="magix illuminate - phosphorus"/>
    <add key="magix.execute.maximum-execution-iterations" value="50000"/>
    <add key="magix.core.database-path" value="database/"/>
    <add key="magix.core.database-objects-per-file" value="32"/>
    <add key="magix.core.database-files-per-directory" value="256"/>
  </appSettings>
  <system.web>
    <xhtmlConformance mode="Strict"/>
    <httpRuntime requestValidationMode="2.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false">
      <controls>
        <add assembly="Magix.UX" namespace="Magix.UX.Widgets" tagPrefix="mux"/>
      </controls>
    </pages>
    <compilation defaultLanguage="C#" debug="true" targetFramework="4.0">
      <assemblies/>
    </compilation>
    <customErrors mode="RemoteOnly"/>
    <authentication mode="None"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <trace enabled="false" localOnly="true" pageOutput="false" requestLimit="10" traceMode="SortByTime"/>
    <sessionState mode="InProc" cookieless="false" timeout="20"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
  </system.web>
</configuration>