<?xml version="1.0"?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="MareMara13@gmail.com">
        <network host="smtp.gmail.com" port="587" userName="MareMara13@gmail.com" password="xyz" defaultCredentials="false"/>
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="magix.core.viewport" value="Magix.viewports.Gutenberg"/>
    <add key="Magix.Core.PageLoad-HyperLispFile" value="system42/index.hl"/>
    <add key="Magix.Core.AppStart-HyperLispFile" value="system42/startup.hl"/>
    <add key="Magix.Core.Portal-Name" value="magix illuminate - release lucifer"/>
  </appSettings>
  <system.web>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add assembly="Magix.UX" namespace="Magix.UX.Widgets" tagPrefix="mux"/>
      </controls>
    </pages>
    <compilation defaultLanguage="C#" debug="true" targetFramework="4.0">
      <assemblies/>
    </compilation>
    <customErrors mode="RemoteOnly"/>
    <authentication mode="None"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <httpHandlers/>
    <trace enabled="false" localOnly="true" pageOutput="false" requestLimit="10" traceMode="SortByTime"/>
    <sessionState mode="InProc" cookieless="false" timeout="20"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
  </system.web>
</configuration>