

body
{
    background-image:url(../images/backgrounds/background-hipster.png);
}

.container
{
    width:870px;
    margin-top:36px;
    margin-bottom:36px;
    padding-left:40px;
    padding-right:40px;
	border-radius:15px;
	box-shadow: 15px 15px 10px rgba(0, 0, 0, 1);
	background-image: linear-gradient(rgba(255, 246, 180, 1) 0%, rgba(180, 160, 140, 1) 100%);
}

@keyframes boxed-widget-on
{
 from {
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
 }
 to {
	box-shadow: 4px 4px 5px rgba(0, 0, 0, 1);
 }
}

@keyframes boxed-widget-off
{
 from {
	box-shadow: 4px 4px 5px rgba(0, 0, 0, 1);
 }
 to {
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
 }
}

.boxed
{
	display:block;
	border-radius:5px;
	box-shadow: 4px 4px 5px rgba(0, 0, 0, 1);
	background-image: linear-gradient(rgba(250, 250, 250, 1) 0%, rgba(210, 210, 210, 1) 100%);
	animation-name: boxed-widget-on;
	animation-duration: .5s;
	animation-direction: normal;
}

.boxed:hover
{
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
	animation-name: boxed-widget-off;
	animation-duration: .5s;
	animation-direction: normal;
}

.boxed-light-green
{
	display:block;
	border-radius:5px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	background-image: linear-gradient(rgba(200, 240, 200, .5) 0%, rgba(180, 210, 180, .5) 100%);
}

.boxed-light-red
{
	display:block;
	border-radius:5px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	background-image: linear-gradient(rgba(240, 200, 200, .5) 0%, rgba(210, 180, 180, .5) 100%);
}

@keyframes button-animation-on
{
 from {
	box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.8);
 }
 to {
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
 }
}

@keyframes button-animation-off
{
 from {
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
 }
 to {
	box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.8);
 }
}

input[type=button]
{
	display:block;
	border-radius:5px;
	background-image: linear-gradient(rgba(250, 250, 250, 1) 0%, rgba(210, 210, 210, 1) 100%);
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
	margin-top:0px;
	margin-bottom:0px;
	height:18px;
	animation-name: button-animation-on;
	animation-duration: .5s;
	animation-direction: normal;
}

input[type=button]:hover
{
	box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.8);
	animation-name: button-animation-off;
	animation-duration: .5s;
	animation-direction: normal;
}

input[type=button]:disabled
{
	animation-name:none;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

input[type=button]:disabled:hover
{
	animation-name:none;
}

input[type=button]:disabled
{
	background-image: linear-gradient(rgba(240, 240, 240, 1) 0%, rgba(180, 180, 180, 1) 100%);
	color:#aaa;
}

.hover-shadow
{
	background-color:transparent;
	transition-property:background-color;
	transition-duration:.5s;
}

.hover-shadow:hover
{
	background-color:rgba(220, 220, 220, 0.2);
}

.light-green
{
	background-color:rgba(220, 255, 220, 0.2);
}

.light-red
{
	background-color:rgba(255, 220, 220, 0.2);
}

.info-message
{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	font-size:larger;
	padding-top:18px;
	min-height:90px;
	background-color:rgba(255, 255, 220, 1);
	z-index:1000;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.info-message p
{
	width:940px;
	margin-left:auto;
	margin-right:auto;
}

.info-message-small
{
	position:fixed;
    display:block;
    top:54px;
	width:200px;
    margin-left:680px;
	padding-top:18px;
	padding-left:40px;
	padding-right:40px;
	background-color:rgba(255, 255, 220, 1);
	z-index:1000;
	box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
    border-radius:5px;
    border:solid 1px #aaa;
}

.air-padding
{
	padding-left:40px;
	padding-right:40px;
	padding-top:18px;
	padding-bottom:18px;
}

@keyframes start-button-animation
{
 from {
	box-shadow: 4px 4px 5px rgba(0, 0, 0, 1);
    transform: scale(1, 1) rotateZ(0deg);
 }
 to {
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
    transform: scale(1.1, 1.1) rotateZ(19deg);
 }
}

@keyframes start-button-animation-off
{
 from {
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
    transform: scale(1.1, 1.1) rotateZ(19deg);
 }
 to {
	box-shadow: 4px 4px 5px rgba(0, 0, 0, 1);
    transform: scale(1, 1) rotateZ(0deg);
 }
}

.start-button-wrapper
{
	height:190px;
	display:block;
}

.start-button
{
	height:154px;
    width:154px;
    margin-left:25px;
    margin-top:25px;
	display:block;
	background:transparent url(../images/icons/start-button.png) no-repeat -2px -2px;
	border-radius:80px;
    transform: scale(1, 1) rotateZ(0deg);
	animation-name: start-button-animation-off;
	animation-duration: .5s;
	animation-direction: normal;
	box-shadow: 4px 4px 5px rgba(0, 0, 0, 1);
}

.start-button:hover
{
	animation-name: start-button-animation;
	animation-duration: 1s;
	animation-direction: normal;
    transform: scale(1.1, 1.1) rotateZ(19deg);
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
}

@keyframes desktop-widget-on
{
 from {
	box-shadow: 4px 4px 5px rgba(0, 0, 0, 1);
	background-image: linear-gradient(rgba(255, 255, 230, 1) 0%, rgba(210, 210, 180, 1) 100%);
 }
 to {
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
	background-image: linear-gradient(rgba(255, 255, 250, 1) 0%, rgba(210, 210, 210, 1) 100%);
 }
}

@keyframes desktop-widget-off
{
 from {
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
	background-image: linear-gradient(rgba(255, 255, 250, 1) 0%, rgba(210, 210, 210, 1) 100%);
 }
 to {
	box-shadow: 4px 4px 5px rgba(0, 0, 0, 1);
	background-image: linear-gradient(rgba(255, 255, 230, 1) 0%, rgba(210, 210, 180, 1) 100%);
 }
}

.desktop-widget
{
	display:block;
	border-radius:5px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	background-image: linear-gradient(rgba(255, 255, 230, 1) 0%, rgba(210, 210, 180, 1) 100%);
	padding:18px 40px;
	animation-name: desktop-widget-off;
	animation-duration: .5s;
	animation-direction: normal;
	box-shadow: 4px 4px 5px rgba(0, 0, 0, 1);
}

.desktop-widget:hover
{
	display:block;
	border-radius:5px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	background-image: linear-gradient(rgba(255, 255, 250, 1) 0%, rgba(210, 210, 210, 1) 100%);
	padding:18px 40px;
	animation-name: desktop-widget-on;
	animation-duration: .5s;
	animation-direction: normal;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
}

.desktop-surface
{
}

@keyframes desktop-widget-item-on
{
 from {
    text-shadow: 4px 4px 5px rgba(0, 0, 0, .3);
    color:rgba(0, 0, 0, 1);
    background-color:rgba(255, 255, 255, .4);
 }
 to {
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    color:rgba(0, 0, 180, 1);
    background-color:rgba(255, 255, 255, 0);
 }
}

@keyframes desktop-widget-item-off
{
 from {
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    color:rgba(0, 0, 180, 1);
    background-color:rgba(255, 255, 255, .4);
 }
 to {
    text-shadow: 4px 4px 5px rgba(0, 0, 0, .3);
    color:rgba(0, 0, 0, 1);
    background-color:rgba(255, 255, 255, .4);
 }
}

.desktop-widget-item
{
	animation-name: desktop-widget-item-on;
	animation-duration: .2s;
	animation-direction: normal;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    color:rgba(0, 0, 180, 1);
    background-color:rgba(255, 255, 255, 0);
    border-radius:4px;
}

.desktop-widget-item:hover
{
	animation-name: desktop-widget-item-off;
	animation-duration: .2s;
	animation-direction: normal;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, .3);
    color:rgba(0, 0, 0, 1);
    background-color:rgba(255, 255, 255, .4);
}

