

body
{
    background-image:url(../images/backgrounds/background-pink.png);
}

.container
{
    width:870px;
    margin-top:36px;
    margin-bottom:36px;
    padding-left:39px;
    padding-right:39px;
	border-radius:15px;
	box-shadow: 15px 15px 10px rgba(0, 0, 0, 1);
	background-image: linear-gradient(rgba(250, 220, 220, 1) 0%, rgba(220, 180, 180, 1) 100%);
    border:1px solid rgba(0, 0, 0, .3);
}

.boxed
{
	display:block;
	border-radius:5px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	background-image: linear-gradient(rgba(250, 250, 250, 1) 0%, rgba(210, 210, 210, 1) 100%);
}

.boxed-light-green
{
	display:block;
	border-radius:5px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	background-image: linear-gradient(rgba(200, 240, 200, .5) 0%, rgba(180, 210, 180, .5) 100%);
}

.boxed-light-red
{
	display:block;
	border-radius:5px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	background-image: linear-gradient(rgba(240, 200, 200, .5) 0%, rgba(210, 180, 180, .5) 100%);
}

input[type=button]
{
	display:block;
	border-radius:5px;
	background-image: linear-gradient(rgba(250, 250, 250, 1) 0%, rgba(210, 210, 210, 1) 100%);
	transition-property:color;
	transition-duration:.2s;
	margin-top:0px;
	margin-bottom:0px;
	height:18px;
}

input[type=button]:hover
{
	background-image: linear-gradient(rgba(240, 240, 240, 1) 0%, rgba(180, 180, 180, 1) 100%);
	color:#00a;
}

input[type=button]:disabled
{
	background-image: linear-gradient(rgba(240, 240, 240, 1) 0%, rgba(180, 180, 180, 1) 100%);
	color:#aaa;
}

.hover-shadow
{
	background-color:transparent;
	transition-property:background-color;
	transition-duration:.5s;
}

.hover-shadow:hover
{
	background-color:rgba(220, 220, 220, 0.2);
}

.light-green
{
	background-color:rgba(220, 255, 220, 0.2);
}

.light-red
{
	background-color:rgba(255, 220, 220, 0.2);
}

.info-message
{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	font-size:larger;
	padding-top:18px;
	min-height:90px;
	background-color:rgba(255, 255, 220, 1);
	z-index:1000;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.info-message p
{
	width:940px;
	margin-left:auto;
	margin-right:auto;
}

.info-message-small
{
	position:fixed;
    display:block;
    top:54px;
	width:200px;
    margin-left:680px;
	padding-top:18px;
	padding-left:40px;
	padding-right:40px;
	background-color:rgba(255, 255, 220, 1);
	z-index:1000;
	box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
    border-radius:5px;
    border:solid 1px #aaa;
}

.air-padding
{
	padding-left:40px;
	padding-right:40px;
	padding-top:18px;
	padding-bottom:18px;
}

@keyframes start-button-animation
{
 from {
	box-shadow: 3px 3px 2px rgba(0, 0, 0, .7);
    transform: rotateZ(0deg);
 }
 to {
	box-shadow: 15px 15px 2px rgba(0, 0, 0, 1);
    transform: rotateZ(7deg);
 }
}

@keyframes start-button-animation-off
{
 from {
	box-shadow: 15px 15px 2px rgba(0, 0, 0, 1);
    transform: rotateZ(7deg);
 }
 to {
	box-shadow: 3px 3px 2px rgba(0, 0, 0, .7);
    transform: rotateZ(0deg);
 }
}

.start-button-wrapper
{
	height:190px;
	display:block;
}

.start-button
{
	height:154px;
    width:154px;
    margin-left:25px;
    margin-top:25px;
	display:block;
	background:transparent url(../images/icons/start-button.png) no-repeat -2px -2px;
	border-radius:80px;
	box-shadow: 3px 3px 2px rgba(0, 0, 0, .7);
	animation-name: start-button-animation-off;
	animation-duration: .5s;
	animation-direction: normal;
}

.start-button:hover
{
	animation-name: start-button-animation;
	animation-duration: 1s;
	animation-direction: normal;
	box-shadow: 15px 15px 2px rgba(0, 0, 0, 1);
    transform: rotateZ(7deg);
}

.desktop-widget
{
	display:block;
	border-radius:5px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    border:1px solid rgba(0, 0, 0, .2);
	background-image: linear-gradient(rgba(250, 250, 250, .5) 0%, rgba(210, 210, 210, .5) 100%);
	padding:16px 38px;
}

.desktop-surface
{
}

.desktop-widget-item:hover
{
	background-color:rgba(220, 220, 220, .2);
}

