

.btn-left
{
	text-align:left;
}

.modal-fixed-body
{
	min-height:400px;
}

.monospaced
{
	font-family:monospace, Courier;
}

.code-grid
{
	background-image:url(images/av-background.png);
	background-position:-9px 0px;
}

.selected
{
	border:dashed Green 3px;
	background-color:lightgreen !important;
}

.fat
{
	font-weight:bold;
}

.left
{
	float:left;
}

.right-20
{
	margin-right:20px;
}

.air-bottom
{
	margin-bottom:5px;
}


