


.container
{
    overflow:visible;
}

.mjolner
{
    padding-left:56px;
    background-image:url(../images/icons/mjolner.png);
    background-repeat:no-repeat;
}

.boxed
{
    border-radius:0;
    background-color:#fafafa;
    background-image:none;
}

@-webkit-keyframes email-blink
{
 from {
     color:#ff6a00;
 }
 to {
     color:#ffd800;
 }
}

@-moz-keyframes email-blink
{
 from {
     color:#ff6a00;
 }
 to {
     color:#ffd800;
 }
}

.animate-visual-clue
{
	-webkit-animation-name: email-blink;
	-webkit-animation-duration: .5s;
	-webkit-animation-direction:alternate;
    -webkit-animation-iteration-count:infinite;
	-moz-animation-name: email-blink;
	-moz-animation-duration: .5s;
	-moz-animation-direction: alternate;
    -moz-animation-iteration-count:infinite;
}

.email-search-bar
{
    opacity:0.2;
    transition-property:opacity;
    transition-duration:.5s;
}

.email-search-bar:hover
{
    opacity:1;
    transition-property:opacity;
    transition-duration:.5s;
}

.email-search-bar *,
.email-search-bar input[type=button]
{
    box-shadow:3px 3px 3px rgba(0,0,0,0);
    transition-property:box-shadow;
    transition-duration:.5s;
}

.email-search-bar:hover *,
.email-search-bar:hover input[type=button]
{
    box-shadow:3px 3px 3px rgba(0,0,0,.5);
    transition-property:box-shadow;
    transition-duration:.5s;
}

.email-item-subject
{
    cursor:pointer;
    white-space:nowrap;
    overflow-x:hidden;
}

.email-item-from
{
    cursor:pointer;
    color:#999999;
    white-space:nowrap;
    overflow-x:hidden;
}

.email-item-date
{
    cursor:pointer;
    font-style:italic;
    color:#cccccc;
}

.email-has-attachments
{
    background-image:url(../images/icons/binder.png);
    background-repeat:no-repeat;
}

.emails-sleeping-dynamic
{
    border-top:1px solid #d0d0d0;
    float:left;
    width:100%;
}

.emails-sleeping-dynamic:last-child
{
    border-top:0 none;
    float:left;
    width:100%;
}

.email-item-body
{
    background-color:#fefefe;
    box-shadow:3px 3px 5px rgba(0,0,0,1);
    padding:18px 40px;
    width:auto;
    margin-left:-20px;
    position:relative;
}

.email-content-body
{
    width:auto;
    min-width:660px;
}

.email-content-close
{
    position:absolute;
    top:9px;
    right:9px;
    text-align:right;
    color:#9999ff;
}

.email-sent-to
{
}

.email-sent-to-item
{
    border-radius:9px;
    border:1px solid rgba(0,0,0,.1);
    display:block;
    float:left;
    padding-left:10px;
    padding-right:10px;
    padding-top:-1px;
    padding-bottom:-1px;
    margin-right:10px;
}

.email-content-body-body
{
    width:auto;
}

.email-attachments
{
    border-top:1px solid #999999;
    margin-top:53px;
    margin-bottom:-18px;
}

.email-reply-body
{
}

.email-contact-email
{
    cursor:pointer;
    white-space:nowrap;
    overflow-x:hidden;
}

.email-contact-name
{
    cursor:pointer;
    white-space:nowrap;
    overflow-x:hidden;
}

.contact-sleeping-dynamic
{
    border-top:1px solid #d0d0d0;
    float:left;
    width:100%;
}

.contact-sleeping-dynamic:last-child
{
    border-top:0 none;
    float:left;
    width:100%;
}

.contact-item-body
{
    background-color:#fefefe;
    box-shadow:3px 3px 5px rgba(0,0,0,1);
    padding:18px 40px;
    width:auto;
    margin-left:-20px;
    margin-right:-20px;
}

.contact-date
{
    color:#cccccc;
    font-style:italic;
}

.contact-description
{
    font-style:italic;
    color:#cccccc;
    white-space:pre;
}

.email-attachment
{
    background-color:rgba(0,0,0,0);
    border-radius:3px;
}

.email-attachment:hover
{
    background-color:rgba(0,0,0,.1);
}


