
/*
 * css for wizards
 */

.wizard-widget
{
    background-image:url(../images/icons/wizard-hat.png), linear-gradient(rgba(240, 240, 255, 1) 0%, rgba(190, 190, 210, 1) 100%);
    background-repeat:no-repeat;
    background-position:top right;
}

.wizard-content
{
    background-image:url(../images/icons/wizard-hat.png), linear-gradient(rgba(240, 240, 255, 1) 0%, rgba(190, 190, 210, 1) 100%);
    background-repeat:no-repeat;
    background-position:top right;
}

