
/*
 * css for wysihtml5
 */

.wysiwyg-editor-toolbar
{
    position: relative;
    width:100%;
}

.wysiwyg-editor-toolbar header
{
    display: block;
    border-radius: 4px;
    height:36px;
    width: 100%;
    background: #eee;
    position: relative;
    z-index: 1;
    text-align: center;
    background-image: linear-gradient(bottom, rgb(238,238,238) 0%, rgb(255,255,255) 100%);
    font-size: 0;
    text-align: center;
}

.wysiwyg-editor-toolbar .commands
{
    border-left: 1px solid #ddd;
    display: inline-block;
    margin:0;
    height:36px;
}

[data-wysihtml5-command],
[data-wysihtml5-action],
.wysiwyg-editor-toolbar .fore-color
{
    position: relative;
    border-right: 1px solid #ddd;
    border-left: 1px solid #fff;
    list-style: none;
    display: inline-block;
    cursor: pointer;
    height: 36px;
    width: 38px;
}

.wysiwyg-editor-toolbar .fore-color ul
{
    width: 100%;
    margin:0;
}

[data-wysihtml5-command]::after,
[data-wysihtml5-action]::after,
.wysiwyg-editor-toolbar .fore-color::after
{
    content: "";
    background-image: url(../xing-wysihtml5/website/img/spr_toolbar_icons_r1.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

[data-wysihtml5-command]:hover,
[data-wysihtml5-action]:hover,
.wysiwyg-editor-toolbar .fore-color:hover
{
    background-image: linear-gradient(bottom, rgb(229,240,226) 0%, rgb(255,255,255) 100%);
}

[data-wysihtml5-command="bold"]::after
{
    background-position: 8px center;
}

[data-wysihtml5-command="italic"]::after
{
    background-position: -64px center;
}

[data-wysihtml5-command="insertUnorderedList"]::after
{
    background-position: -131px center;
}

[data-wysihtml5-command="insertOrderedList"]::after
{
    background-position: -213px center;
}

[data-wysihtml5-command="formatBlock"][data-wysihtml5-command-value="h1"]::after
{
    background-position: -361px center;
}

[data-wysihtml5-command="formatBlock"][data-wysihtml5-command-value="h2"]::after
{
    background-position: -444px center;
}

[data-wysihtml5-command="createLink"]::after
{
    background-position: -287px center;
}

[data-wysihtml5-command="insertImage"]::after
{
    background-position: -527px center;
}

.fore-color::after
{
    background-position: -757px center;
}

[data-wysihtml5-command="insertSpeech"]::after
{
    background-position: -613px center;
}

[data-wysihtml5-action="change_view"]::after
{
    background-position: -684px center;
}

.fore-color ul
{
    display: none;
    position: absolute;
    z-index: 2;
    top: 36px;
    right: -1px;
    left: -2px;
    border: 1px solid #ccc;
    border-top: 0;
    background: #fff;
    overflow: hidden;
}

.wysiwyg-editor-toolbar .fore-color li
{
    display: block;
    margin: 1px;
    width: auto;
    border: 0;
    height: 16px;
}

.wysiwyg-editor-toolbar .fore-color ul
{
    display: none;
}

.wysiwyg-editor-toolbar .fore-color:hover ul
{
    display: block;
}

[data-wysihtml5-command-value="silver"]::after,
[data-wysihtml5-command-value="gray"]::after,
[data-wysihtml5-command-value="maroon"]::after,
[data-wysihtml5-command-value="red"]::after,
[data-wysihtml5-command-value="purple"]::after,
[data-wysihtml5-command-value="green"]::after,
[data-wysihtml5-command-value="olive"]::after,
[data-wysihtml5-command-value="navy"]::after,
[data-wysihtml5-command-value="blue"]::after
{
	background-image:none !important;
}

.wysiwyg-editor-toolbar .fore-color [data-wysihtml5-command-value="silver"]
{
    background: silver !important;
}

.wysiwyg-editor-toolbar .fore-color [data-wysihtml5-command-value="gray"]
{
    background: gray !important;
}

.wysiwyg-editor-toolbar .fore-color [data-wysihtml5-command-value="maroon"]
{
    background: maroon !important;
}

.wysiwyg-editor-toolbar .fore-color [data-wysihtml5-command-value="red"]
{
    background: red !important;
}

.wysiwyg-editor-toolbar .fore-color [data-wysihtml5-command-value="purple"]
{
    background: purple !important;
}

.wysiwyg-editor-toolbar .fore-color [data-wysihtml5-command-value="green"]
{
    background: green !important;
}

.wysiwyg-editor-toolbar .fore-color [data-wysihtml5-command-value="olive"]
{
    background: olive !important;
}

.wysiwyg-editor-toolbar .fore-color [data-wysihtml5-command-value="navy"]
{
    background: navy !important;
}

.wysiwyg-editor-toolbar .fore-color [data-wysihtml5-command-value="blue"]
{
    background: blue !important;
}

.wysiwyg-editor-toolbar .fore-color .wysihtml5-command-active
{
    outline: 1px solid #666;
    outline-offset: 1px;
}

.wysiwyg-editor-toolbar .wysihtml5-commands-disabled .fore-color ul
{
    display: none;
}

.wysiwyg-editor-toolbar .wysihtml5-action-active,
.wysiwyg-editor-toolbar .wysihtml5-command-active
{
    box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.2);
    background: #eee !important;
}

.wysiwyg-editor-toolbar .wysihtml5-commands-disabled [data-wysihtml5-command],
.wysiwyg-editor-toolbar .wysihtml5-commands-disabled .fore-color
{
    opacity: 0.4;
    cursor: default;
    background-image: none !important;
}

[data-wysihtml5-dialog]
{
    color: #333;
    text-align: left;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 5px 10px;
    background: #FFFBE0;
    width: 100%;
    text-align: center;
    top: 36px;
}

[data-wysihtml5-dialog] input
{
    color: #333;
    border: 1px solid #ccc;
    padding: 3px;
    width: 300px;
}

[data-wysihtml5-dialog] input:focus
{
    outline: 0;
    border: 1px solid #666;
}

[data-wysihtml5-dialog-action]
{
    padding: 4px;
    color: #fff;
    cursor: pointer;
}

[data-wysihtml5-dialog-action="save"]
{
    background: #007200;
}

[data-wysihtml5-dialog-action="cancel"]
{
    background: #999;
}

.wysiwyg-editor-toolbar section
{
    position: absolute;
    width: 100%;
    top: 139px;
    bottom: 0;
}

textarea.wysiwyg
{
    font-family: "Courier New", Courier, monospace;
    width: 100%;
    background: transparent;
    height: 100%;
    border: 0;
    resize: none;
    white-space: pre;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 10px;
    word-wrap: normal;
    box-sizing: border-box;
    width:810px;
}

textarea.wysiwyg:focus
{
    background: rgba(255, 255, 255, 0.4);
    outline: 0;
}

a.fork
{
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.wysiwyg-editor-textarea
{
    width:100%;
    height:286px;
    background-image:none;
}

.wysihtml5-sandbox
{
	width:100% !important;
	margin:0 !important;
	border:0 none !important;
	border-bottom:1px solid black !important;
}

