<?xml version="1.0"?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="MareMara13@gmail.com">
        <network host="smtp.gmail.com" port="587" userName="MareMara13@gmail.com" password="xyz" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="Magix.Core.Viewport" value="Magix.viewports.Gutenberg" />
    <add key="Magix.Core.PageLoad-HyperLispFile" value="zigano/index.hl" />
    <add key="Magix.Core.AppStart-HyperLispFile" value="zigano/startup.hl" />
  </appSettings>
  <system.web>
    <httpRuntime requestValidationMode="2.0" />
    <pages>
      <controls>
        <add assembly="Magix.UX" namespace="Magix.UX.Widgets" tagPrefix="mux" />
      </controls>
    </pages>
    <compilation defaultLanguage="C#" debug="true">
      <assemblies>
      </assemblies>
    </compilation>
    <customErrors mode="RemoteOnly">
    </customErrors>
    <authentication mode="None">
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <httpHandlers>
    </httpHandlers>
    <trace enabled="false" localOnly="true" pageOutput="false" requestLimit="10" traceMode="SortByTime" />
    <sessionState mode="InProc" cookieless="false" timeout="20" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
  </system.web>
</configuration>