<?xml version="1.0"?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp from="test@foo.com">
        <network host="smtpserver1" port="25" userName="username" password="secret" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="Magix.Core.Viewport" value="Magix.viewports.Website" />
  </appSettings>
  <system.web>
    <pages>
      <controls>
        <add assembly="Magix.UX" namespace="Magix.UX.Widgets" tagPrefix="mux" />
      </controls>
    </pages>
    <compilation defaultLanguage="C#" debug="true">
      <assemblies>
        <add assembly="Db4objects.Db4o, Version=8.0.184.15484, Culture=neutral, PublicKeyToken=6199cd4f203aa8eb" />
      </assemblies>
    </compilation>
    <customErrors mode="RemoteOnly">
    </customErrors>
    <authentication mode="None">
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <httpHandlers>
    </httpHandlers>
    <trace enabled="false" localOnly="true" pageOutput="false" requestLimit="10" traceMode="SortByTime" />
    <sessionState mode="InProc" cookieless="false" timeout="20" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
  </system.web>
</configuration>