<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <root>
      <level value="Debug"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="system42/private/magix-log/log.txt"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="3MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date %-5level %logger - {%message}%newline"/>
      </layout>
    </appender>
    <logger name="magix">
      <level value="DEBUG"/>
    </logger>
  </log4net>
  <appSettings>
    <add key="magix.core.dashboard-viewport" value="Magix.viewports.Gutenberg"/>
    <add key="magix.core.portal-name" value="magix illuminate - phosphorus"/>
    <add key="magix.execute.maximum-execution-iterations" value="65536"/>
    <add key="magix.core.database-path" value="database/"/>
    <add key="magix.core.database-objects-per-file" value="32"/>
    <add key="magix.core.database-files-per-directory" value="256"/>
    <add key="dna-resolution" value="0000"/>
  </appSettings>
  <connectionStrings>
    <add name="northwind" connectionString="data source=(localdb)\v11.0;initial catalog=northwind;integrated security=true"/>
  </connectionStrings>
  <system.web>
    <xhtmlConformance mode="Strict"/>
    <httpRuntime requestValidationMode="2.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false">
      <controls>
        <add assembly="Magix.UX" namespace="Magix.UX.Widgets" tagPrefix="mux"/>
      </controls>
    </pages>
    <compilation defaultLanguage="C#" debug="true" targetFramework="4.0">
      <assemblies/>
    </compilation>
    <customErrors mode="RemoteOnly"/>
    <authentication mode="None"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <trace enabled="false" localOnly="true" pageOutput="false" requestLimit="10" traceMode="SortByTime"/>
    <sessionState mode="InProc" cookieless="false" timeout="20"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
  </system.web>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".webm" mimeType="video/webm"/>
    </staticContent>
  </system.webServer>
</configuration>