


.container
{
    overflow:visible;
}

.boxed
{
    border-radius:0;
    background-color:#fafafa;
    background-image:none;
}

@-webkit-keyframes email-blink
{
 from {
     color:#ff6a00;
 }
 to {
     color:#ffd800;
 }
}

@-moz-keyframes email-blink
{
 from {
     color:#ff6a00;
 }
 to {
     color:#ffd800;
 }
}

.email-blink
{
	-webkit-animation-name: email-blink;
	-webkit-animation-duration: .5s;
	-webkit-animation-direction:alternate;
    -webkit-animation-iteration-count:infinite;
	-moz-animation-name: email-blink;
	-moz-animation-duration: .5s;
	-moz-animation-direction: alternate;
    -moz-animation-iteration-count:infinite;
}

.email-search-bar
{
    opacity:0.2;
    transition-property:opacity;
    transition-duration:.5s;
}

.email-search-bar:hover
{
    opacity:1;
    transition-property:opacity;
    transition-duration:.5s;
}

.email-search-bar *,
.email-search-bar input[type=button]
{
    box-shadow:3px 3px 3px rgba(0,0,0,0);
    transition-property:box-shadow;
    transition-duration:.5s;
}

.email-search-bar:hover *,
.email-search-bar:hover input[type=button]
{
    box-shadow:3px 3px 3px rgba(0,0,0,.5);
    transition-property:box-shadow;
    transition-duration:.5s;
}

.email-item-subject
{
    cursor:pointer;
}

.email-item-from
{
    color:#777777;
}

.email-item-date
{
    font-style:italic;
    color:#aaaaaa;
}

.emails-sleeping-dynamic
{
    border-top:1px solid #d0d0d0;
    float:left;
    width:100%;
}

.email-item-body
{
    background-color:#fefefe;
    box-shadow:3px 3px 5px rgba(0,0,0,1);
    padding:18px 40px;
    width:auto;
    margin-left:-30px;
}


.email-content-body
{
    width:auto;
}

.email-content-body-body
{
    width:auto;
}

.email-attachments
{
    border-top:1px solid #999999;
    margin-top:53px;
    margin-bottom:-18px;
}
