


.container
{
    overflow:visible;
}

.boxed
{
    border-radius:0;
    background-color:#fafafa;
    background-image:none;
}

@-webkit-keyframes email-blink
{
 from {
     color:#ff6a00;
 }
 to {
     color:#ffd800;
 }
}

@-moz-keyframes email-blink
{
 from {
     color:#ff6a00;
 }
 to {
     color:#ffd800;
 }
}

.email-blink
{
	-webkit-animation-name: email-blink;
	-webkit-animation-duration: .5s;
	-webkit-animation-direction:alternate;
    -webkit-animation-iteration-count:infinite;
	-moz-animation-name: email-blink;
	-moz-animation-duration: .5s;
	-moz-animation-direction: alternate;
    -moz-animation-iteration-count:infinite;
}

.email-item-subject
{
    border-top:solid 1px #ccc;
    cursor:pointer;
}

.email-item-from
{
    border-top:solid 1px #ccc;
}

.email-item-date
{
    border-top:solid 1px #ccc;
}

.email-item-body
{
    background-color:#fefefe;
    border:1px solid #fafafa;
    box-shadow:3px 3px 5px rgba(0,0,0,1);
    padding:18px 40px;
}

