/* based upon Blueprint CSS Framework 1.0 - copyright and license info - http://www.blueprintcss.org */

/* reset.css */
html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
article, aside, dialog, figure, footer, header, hgroup, nav, section {display:block;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}

/* typography.css */
html {font-size:100.01%;}
body {font-size:75%;color:#222;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
.left {float:left !important;}
p .left {margin:1.5em 1.5em 1.5em 0;padding:0;}
.right {float:right !important;}
p .right {margin:1.5em 0 1.5em 1.5em;padding:0;}
a:focus, a:hover {color:#09f;}
a {color:#06c;text-decoration:none;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong, dfn {font-weight:bold;}
em, dfn {font-style:italic;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin-bottom:1.5em;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0;}
ul, ol {margin:0 1.5em 1.5em 0;padding-left:1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;}
thead th {background:#c3d9ff;}
th, td, caption {padding:4px 10px 4px 5px;}
tbody tr:nth-child(even) td, tbody tr.even td {background:#e5ecf9;}
tfoot {font-style:italic;}
caption {background:#eee;}
div {overflow:visible;}
input[type=text], input[type=password], input[type=color], input[type=number], input[type=phone], input[type=email], input[type=search], input[type=url], input[type=datetime], input[type=date], input[type=month], input[type=week], input[type=time], input[type=datetimelocal], input[type=range], textarea {border-left:0px none;border-right:0px none;border-top:1px solid #bbb;border-bottom:1px solid #bbb;padding:0;}
input[type=text], input[type=password], input[type=color], input[type=number], input[type=phone], input[type=email], input[type=search], input[type=url], input[type=datetime], input[type=date], input[type=month], input[type=week], input[type=time], input[type=datetimelocal], input[type=range] {height:16px;}
input[type=button] {border:0 none;}
input[type=checkbox] {height:18px;max-height:18px;margin-bottom:0;margin-left:0;}
label {font-weight:bold;}
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.error {color:#d33;}
.clear {clear:both;}

pre {background-color:#fafafa;padding-top:18px;padding-bottom:18px;}

/* grid system */
.container {width:950px;margin:0 auto;position:relative;overflow:auto;padding-bottom:100px;}
.showgrid {background:url(grid.png);overflow:auto;}
.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24 {float:left;margin-right:10px;margin-top:0px;margin-bottom:0px;}
.last {margin-right:0;}
.span-1 {width:30px;}
.span-2 {width:70px;}
.span-3 {width:110px;}
.span-4 {width:150px;}
.span-5 {width:190px;}
.span-6 {width:230px;}
.span-7 {width:270px;}
.span-8 {width:310px;}
.span-9 {width:350px;}
.span-10 {width:390px;}
.span-11 {width:430px;}
.span-12 {width:470px;}
.span-13 {width:510px;}
.span-14 {width:550px;}
.span-15 {width:590px;}
.span-16 {width:630px;}
.span-17 {width:670px;}
.span-18 {width:710px;}
.span-19 {width:750px;}
.span-20 {width:790px;}
.span-21 {width:830px;}
.span-22 {width:870px;}
.span-23 {width:910px;}
.span-24 {width:950px;margin-right:0;}

.left-1 {margin-left:40px;}
.left-2 {margin-left:80px;}
.left-3 {margin-left:120px;}
.left-4 {margin-left:160px;}
.left-5 {margin-left:200px;}
.left-6 {margin-left:240px;}
.left-7 {margin-left:280px;}
.left-8 {margin-left:320px;}
.left-9 {margin-left:360px;}
.left-10 {margin-left:400px;}
.left-11 {margin-left:440px;}
.left-12 {margin-left:480px;}
.left-13 {margin-left:520px;}
.left-14 {margin-left:560px;}
.left-15 {margin-left:600px;}
.left-16 {margin-left:640px;}
.left-17 {margin-left:680px;}
.left-18 {margin-left:720px;}
.left-19 {margin-left:760px;}
.left-20 {margin-left:800px;}
.left-21 {margin-left:840px;}
.left-22 {margin-left:880px;}
.left-23 {margin-left:920px;}

input[type=button].top-1,.top-1 {margin-top:18px;}
input[type=button].top-2,.top-2 {margin-top:36px;}
input[type=button].top-3,.top-3 {margin-top:54px;}
input[type=button].top-4,.top-4 {margin-top:72px;}
input[type=button].top-5,.top-5 {margin-top:90px;}
input[type=button].top-6,.top-6 {margin-top:108px;}
input[type=button].top-7,.top-7 {margin-top:126px;}
input[type=button].top-8,.top-8 {margin-top:144px;}
input[type=button].top-9,.top-9 {margin-top:162px;}
input[type=button].top-10,.top-10 {margin-top:180px;}
input[type=button].top-11,.top-11 {margin-top:198px;}
input[type=button].top-12,.top-12 {margin-top:216px;}
input[type=button].top-13,.top-13 {margin-top:234px;}
input[type=button].top-14,.top-14 {margin-top:252px;}
input[type=button].top-15,.top-15 {margin-top:270px;}
input[type=button].top-16,.top-16 {margin-top:288px;}
input[type=button].top-17,.top-17 {margin-top:306px;}
input[type=button].top-18,.top-18 {margin-top:324px;}
input[type=button].top-19,.top-19 {margin-top:342px;}
input[type=button].top-20,.top-20 {margin-top:360px;}
input[type=button].top-21,.top-21 {margin-top:378px;}
input[type=button].top-22,.top-22 {margin-top:396px;}
input[type=button].top-23,.top-23 {margin-top:414px;}

.right-1 {margin-right:40px;}
.right-2 {margin-right:80px;}
.right-3 {margin-right:120px;}
.right-4 {margin-right:160px;}
.right-5 {margin-right:200px;}
.right-6 {margin-right:240px;}
.right-7 {margin-right:280px;}
.right-8 {margin-right:320px;}
.right-9 {margin-right:360px;}
.right-10 {margin-right:400px;}
.right-11 {margin-right:440px;}
.right-12 {margin-right:480px;}
.right-13 {margin-right:520px;}
.right-14 {margin-right:560px;}
.right-15 {margin-right:600px;}
.right-16 {margin-right:640px;}
.right-17 {margin-right:680px;}
.right-18 {margin-right:720px;}
.right-19 {margin-right:760px;}
.right-20 {margin-right:800px;}
.right-21 {margin-right:840px;}
.right-22 {margin-right:880px;}
.right-23 {margin-right:920px;}

input[type=button].bottom-1,.bottom-1 {margin-bottom:18px;}
input[type=button].bottom-2,.bottom-2 {margin-bottom:36px;}
input[type=button].bottom-3,.bottom-3 {margin-bottom:54px;}
input[type=button].bottom-4,.bottom-4 {margin-bottom:72px;}
input[type=button].bottom-5,.bottom-5 {margin-bottom:90px;}
input[type=button].bottom-6,.bottom-6 {margin-bottom:108px;}
input[type=button].bottom-7,.bottom-7 {margin-bottom:126px;}
input[type=button].bottom-8,.bottom-8 {margin-bottom:144px;}
input[type=button].bottom-9,.bottom-9 {margin-bottom:162px;}
input[type=button].bottom-10,.bottom-10 {margin-bottom:180px;}
input[type=button].bottom-11,.bottom-11 {margin-bottom:198px;}
input[type=button].bottom-12,.bottom-12 {margin-bottom:216px;}
input[type=button].bottom-13,.bottom-13 {margin-bottom:234px;}
input[type=button].bottom-14,.bottom-14 {margin-bottom:252px;}
input[type=button].bottom-15,.bottom-15 {margin-bottom:270px;}
input[type=button].bottom-16,.bottom-16 {margin-bottom:288px;}
input[type=button].bottom-17,.bottom-17 {margin-bottom:306px;}
input[type=button].bottom-18,.bottom-18 {margin-bottom:324px;}
input[type=button].bottom-19,.bottom-19 {margin-bottom:342px;}
input[type=button].bottom-20,.bottom-20 {margin-bottom:360px;}
input[type=button].bottom-21,.bottom-21 {margin-bottom:378px;}
input[type=button].bottom-22,.bottom-22 {margin-bottom:396px;}
input[type=button].bottom-23,.bottom-23 {margin-bottom:414px;}

textarea.min-height-1,.min-height-1 {min-height:18px;}
textarea.min-height-2,.min-height-2 {min-height:36px;}
textarea.min-height-3,.min-height-3 {min-height:54px;}
textarea.min-height-4,.min-height-4 {min-height:72px;}
textarea.min-height-5,.min-height-5 {min-height:90px;}
textarea.min-height-6,.min-height-6 {min-height:108px;}
textarea.min-height-7,.min-height-7 {min-height:126px;}
textarea.min-height-8,.min-height-8 {min-height:144px;}
textarea.min-height-9,.min-height-9 {min-height:162px;}
textarea.min-height-10,.min-height-10 {min-height:180px;}
textarea.min-height-11,.min-height-11 {min-height:198px;}
textarea.min-height-12,.min-height-12 {min-height:216px;}
textarea.min-height-13,.min-height-13 {min-height:252px;}
textarea.min-height-14,.min-height-14 {min-height:270px;}
textarea.min-height-15,.min-height-15 {min-height:288px;}
textarea.min-height-16,.min-height-16 {min-height:324px;}
textarea.min-height-17,.min-height-17 {min-height:342px;}
textarea.min-height-18,.min-height-18 {min-height:360px;}
textarea.min-height-19,.min-height-19 {min-height:378px;}
textarea.min-height-20,.min-height-20 {min-height:396px;}
textarea.min-height-21,.min-height-21 {min-height:414px;}
textarea.min-height-22,.min-height-22 {min-height:432px;}
textarea.min-height-23,.min-height-23 {min-height:450px;}
textarea.min-height-24,.min-height-24 {min-height:468px;}
textarea.min-height-25,.min-height-25 {min-height:486px;}
textarea.min-height-26,.min-height-26 {min-height:504px;}
textarea.min-height-27,.min-height-27 {min-height:522px;}
textarea.min-height-28,.min-height-28 {min-height:540px;}
textarea.min-height-29,.min-height-29 {min-height:558px;}
textarea.min-height-30,.min-height-30 {min-height:576px;}

.z-1 {z-index:1;}
.z-2 {z-index:2;}
.z-3 {z-index:3;}
.z-4 {z-index:4;}
.z-5 {z-index:5;}
.z-6 {z-index:6;}
.z-7 {z-index:7;}
.z-8 {z-index:8;}
.z-9 {z-index:9;}
.z-10 {z-index:10;}
.z-11 {z-index:11;}
.z-12 {z-index:12;}
.z-13 {z-index:13;}
.z-14 {z-index:14;}

.relative {position:relative;}
.absolute {position:absolute;}
.top {top:0px;}
.bottom {bottom:0px;}
.left {left:0px;}
.right {right:0px;}
.bold {font-weight:bold;}

html, body, form {width:100%;min-height:100%;}
html {background-color:#303030;}

.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}
.centered {margin-left:auto;margin-right:auto;}

input[type=button].btn-large {height:36px;font-size:16px;}
select {margin-top:0px;margin-bottom:0px;height:18px;border-left:none 0;border-right:none 0;}

.wysiwyg-color-silver {color:silver;}
.wysiwyg-color-gray {color:gray;}
.wysiwyg-color-maroon {color:maroon;}
.wysiwyg-color-red {color:red;}
.wysiwyg-color-purple {color:purple;}
.wysiwyg-color-green {color:green;}
.wysiwyg-color-olive {color:olive;}
.wysiwyg-color-navy {color:navy;}
.wysiwyg-color-blue {color:blue;}

.confirm-button-wrapper {margin-left:auto;margin-right:auto;float:none;}

.btn-group input[type=button]
{
	border-right:solid 1px rgba(128,128,128,.3);
	padding-left:4px;
	padding-right:5px;
	margin-right:0px;
	display:block;
	float:left;
	border-radius:0px;
}

.btn-group input[type=button]:first-child
{
	border-radius:15px 0px 0px 15px;
}

.btn-group input[type=button]:last-child
{
	border-radius:0px 15px 15px 0px;
	border-right:none 0;
}

.btn-group input[type=text]
{
	border-right:solid 1px rgba(128,128,128,.3);
	border-top:solid 1px rgba(0,0,0,.1);
	border-bottom:solid 1px rgba(0,0,0,.3);
	padding-left:4px;
	padding-right:5px;
	margin-right:0px;
	display:block;
	float:left;
	background-image: linear-gradient(rgba(245, 245, 245, .5) 0%, rgba(230, 230, 230, .5) 100%);
}

.btn-group input[type=text]:first-child
{
	border-radius:15px 0px 0px 15px;
}

.btn-group input[type=text]:last-child
{
	border-radius:0px 15px 15px 0px;
}

.monospaced
{
	font-family:monospace, Courier;
}

input[type=text].fill-width,
textarea.fill-width,
.fill-width
{
	width:100%;
	display:block;
    margin-right:0;
}

input[type=text].input-large,
textarea.input-large,
.input-large
{
	height:34px;
	font-size:24px;
}

.container
{
    width:870px;
    margin-top:36px;
    margin-bottom:36px;
    padding-left:40px;
    padding-right:40px;
	border-radius:15px;
	box-shadow: 0px 0px 54px rgba(255, 255, 255, 1);
	background-image: linear-gradient(rgba(250, 250, 250, .95) 0%, rgba(200, 200, 200, .95) 100%);
}

.boxed
{
	display:block;
	border-radius:5px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(240, 240, 240, 1)), to(rgba(210, 210, 210, 1)));
	background-image: -moz-webkit-gradient(rgba(250, 250, 250, 1) 0%, rgba(210, 210, 210, 1) 100%);
	background-image: -moz-linear-gradient(rgba(250, 250, 250, 1) 0%, rgba(210, 210, 210, 1) 100%);
	background-image: -o-linear-gradient(rgba(250, 250, 250, 1) 0%, rgba(210, 210, 210, 1) 100%);
	background-image: -ms-linear-gradient(rgba(250, 250, 250, 1) 0%, rgba(210, 210, 210, 1) 100%);
	background-image: linear-gradient(rgba(250, 250, 250, 1) 0%, rgba(210, 210, 210, 1) 100%);
}

.boxed-light-green
{
	display:block;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(200, 240, 200, .5)), to(rgba(180, 210, 180, -5)));
	background-image: -moz-webkit-gradient(rgba(200, 240, 200, .5) 0%, rgba(180, 210, 180, .5) 100%);
	background-image: -moz-linear-gradient(rgba(200, 240, 200, .5) 0%, rgba(180, 210, 180, .5) 100%);
	background-image: -o-linear-gradient(rgba(200, 240, 200, .5) 0%, rgba(180, 210, 180, .5) 100%);
	background-image: -ms-linear-gradient(rgba(200, 240, 200, .5) 0%, rgba(180, 210, 180, .5) 100%);
	background-image: linear-gradient(rgba(200, 240, 200, .5) 0%, rgba(180, 210, 180, .5) 100%);
}

.boxed-light-red
{
	display:block;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(240, 200, 200, .5)), to(rgba(210, 180, 180, -5)));
	background-image: -moz-webkit-gradient(rgba(240, 200, 200, .5) 0%, rgba(210, 180, 180, .5) 100%);
	background-image: -moz-linear-gradient(rgba(240, 200, 200, .5) 0%, rgba(210, 180, 180, .5) 100%);
	background-image: -o-linear-gradient(rgba(240, 200, 200, .5) 0%, rgba(210, 180, 180, .5) 100%);
	background-image: -ms-linear-gradient(rgba(240, 200, 200, .5) 0%, rgba(210, 180, 180, .5) 100%);
	background-image: linear-gradient(rgba(240, 200, 200, .5) 0%, rgba(210, 180, 180, .5) 100%);
}

input[type=button]
{
	display:block;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	border-radius:5px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(240, 240, 240, 1)), to(rgba(210, 210, 210, 1)));
	background-image: -moz-webkit-gradient(rgba(250, 250, 250, 1) 0%, rgba(210, 210, 210, 1) 100%);
	background-image: -moz-linear-gradient(rgba(250, 250, 250, 1) 0%, rgba(210, 210, 210, 1) 100%);
	background-image: -o-linear-gradient(rgba(250, 250, 250, 1) 0%, rgba(210, 210, 210, 1) 100%);
	background-image: -ms-linear-gradient(rgba(250, 250, 250, 1) 0%, rgba(210, 210, 210, 1) 100%);
	background-image: linear-gradient(rgba(250, 250, 250, 1) 0%, rgba(210, 210, 210, 1) 100%);
	-moz-transition-property:color;
	-moz-transition-duration:.2s;
	-webkit-transition-property:color;
	-webkit-transition-duration:.2s;
	-o-transition-property:color;
	-o-transition-duration:.2s;
	-ms-transition-property:color;
	-ms-transition-duration:.2s;
	transition-property:color;
	transition-duration:.2s;
	margin-top:0px;
	margin-bottom:0px;
	height:18px;
}

input[type=button]:hover
{
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(240, 240, 240, 1)), to(rgba(180, 180, 180, 1)));
	background-image: -moz-webkit-gradient(rgba(240, 240, 240, 1) 0%, rgba(180, 180, 180, 1) 100%);
	background-image: -moz-linear-gradient(rgba(240, 240, 240, 1) 0%, rgba(180, 180, 180, 1) 100%);
	background-image: -o-linear-gradient(rgba(240, 240, 240, 1) 0%, rgba(180, 180, 180, 1) 100%);
	background-image: -ms-linear-gradient(rgba(240, 240, 240, 1) 0%, rgba(180, 180, 180, 1) 100%);
	background-image: linear-gradient(rgba(240, 240, 240, 1) 0%, rgba(180, 180, 180, 1) 100%);
	color:#00a;
}

input[type=button]:disabled
{
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(240, 240, 240, 1)), to(rgba(180, 180, 180, 1)));
	background-image: -moz-webkit-gradient(rgba(240, 240, 240, 1) 0%, rgba(180, 180, 180, 1) 100%);
	background-image: -moz-linear-gradient(rgba(240, 240, 240, 1) 0%, rgba(180, 180, 180, 1) 100%);
	background-image: -o-linear-gradient(rgba(240, 240, 240, 1) 0%, rgba(180, 180, 180, 1) 100%);
	background-image: -ms-linear-gradient(rgba(240, 240, 240, 1) 0%, rgba(180, 180, 180, 1) 100%);
	background-image: linear-gradient(rgba(240, 240, 240, 1) 0%, rgba(180, 180, 180, 1) 100%);
	color:#aaa;
}

select:disabled
{
    color:rgb(84, 84, 84);
    background-color:rgb(235, 235, 228);
}

.info-message
{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	font-size:larger;
	padding-top:18px;
	min-height:90px;
	background-color:rgba(255, 255, 220, 1);
	z-index:1000;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.info-message p
{
	width:940px;
	margin-left:auto;
	margin-right:auto;
}

.info-message-small
{
	position:fixed;
    display:block;
    top:54px;
	width:200px;
    margin-left:680px;
	padding-top:18px;
	padding-left:40px;
	padding-right:40px;
	background-color:rgba(255, 255, 220, 1);
	z-index:1000;
	box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
    border-radius:5px;
    border:solid 1px #aaa;
}

.air-padding
{
	padding-left:40px;
	padding-right:40px;
	padding-top:18px;
	padding-bottom:18px;
}

