

html, body, form
{
    background-image:url(../../images/backgrounds/mystique.jpg);
    background-position:0 -100px;
    background-repeat:no-repeat;
    background-color:#111435;
    background-attachment:fixed;
    background-size:cover;
}

@keyframes start-button-animation
{
 from {
	box-shadow: 3px 3px 12px rgba(0, 0, 0, .7);
    transform: rotateZ(0deg);
 }
 to {
	box-shadow: 0px 0px 54px rgba(255, 216, 0, 1);
    transform: rotateZ(7deg);
 }
}

@keyframes start-button-animation-off
{
 from {
	box-shadow: 0px 0px 54px rgba(255, 216, 0, 1);
    transform: rotateZ(7deg);
 }
 to {
	box-shadow: 3px 3px 12px rgba(0, 0, 0, .7);
    transform: rotateZ(0deg);
 }
}

.start-button-wrapper
{
	height:190px;
	display:block;
}

.start-button
{
	height:154px;
    width:154px;
    margin-left:25px;
    margin-top:25px;
	display:block;
	background:transparent url(../../images/icons/start-button-blue.png) no-repeat -2px -2px;
	border-radius:80px;
	box-shadow: 3px 3px 12px rgba(0, 0, 0, .7);
	animation-name: start-button-animation-off;
	animation-duration: .5s;
	animation-direction: normal;
}

.start-button:hover
{
	animation-name: start-button-animation;
	animation-duration: 1s;
	animation-direction: normal;
	box-shadow: 0px 0px 54px rgba(255, 216, 0, 1);
    transform: rotateZ(7deg);
}

.desktop-widget
{
	display:block;
	border-radius:5px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	background-image: linear-gradient(rgba(250, 250, 250, .1) 0%, rgba(210, 210, 210, .1) 100%);
	padding:18px 40px;
}

.desktop-widget-item:hover
{
	background-color:rgba(220, 220, 220, .2);
}

