

.btn-left
{
	text-align:left;
}

.modal-fixed-body
{
	min-height:400px;
}

.monospaced
{
	font-family:monospace, Courier;
}

.code-grid
{
	background-image:url(images/av-background.png);
	background-position:-9px 0px;
}

.selected
{
	border:dashed Green 3px;
}
